<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 原css引入語法 -->
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <!-- 改用jinja2模板的引入語法 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>景點介紹</title>
</head>
<body>

    <header>
        <div class="container">
            <h1>熱門景點</h1>
            <nav>
                <ul>
                    <li class="nav-list"><a href="{{ url_for('page_Shilin') }}">士林官邸</a></li>
                    <li class="nav-list"><a href="{{ url_for('page_Beitou') }}">北投圖書館</a></li>
                    <li class="nav-list"><a href="{{ url_for('page_Maokong') }}">貓空纜車</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <article>
            <section>
                <h3>首頁</h3>
                <ul class="d-flex">
                    <li><img class="width-index" src="https://www.startravel.com.tw/material-alias/%E5%9C%8B%E5%85%A7%E6%97%85%E9%81%8A%E5%B0%88%E9%A0%81/%E5%BF%AB%E9%80%9F%E5%89%8D%E5%BE%80/%E4%B8%AD%E5%BD%B0%E6%8A%95/%E6%AD%A6%E9%99%B5%E8%BE%B2%E5%A0%B4768x768.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.startravel.com.tw/material-alias/%E5%9C%8B%E5%85%A7%E6%97%85%E9%81%8A%E5%B0%88%E9%A0%81/%E5%BF%AB%E9%80%9F%E5%89%8D%E5%BE%80/%E6%A1%83%E7%AB%B9%E8%8B%97/%E9%9B%AA%E9%9C%B8%E8%BE%B2%E5%A0%B4768x768.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.startravel.com.tw/material-alias/%E9%A6%96%E9%A0%81/%E5%9C%8B%E5%85%A7%E4%B8%BB%E9%A1%8C%E6%97%85%E9%81%8A/%E5%8F%B0%E7%81%A3%E6%9C%80%E7%BE%8E%E9%BA%97/%E9%87%91%E9%96%804.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.startravel.com.tw/material-alias/%E9%A6%96%E9%A0%81/%E5%9C%8B%E5%85%A7%E4%B8%BB%E9%A1%8C%E6%97%85%E9%81%8A/%E5%8F%B0%E7%81%A3%E6%9C%80%E7%BE%8E%E9%BA%97/%E9%A6%AC%E7%A5%96.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.colatour.com.tw/webDM/Portal/DomTour/adbanner/dom_promote168.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.colatour.com.tw/webDM/Portal/DomTour/adbanner/dom_promote172.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.colatour.com.tw/webDM/Portal/DomTour/adbanner/dom_promote170.jpg" alt=""></li>
                    <li><img class="width-index" src="https://www.colatour.com.tw/webDM/Portal/DomTour/adbanner/dom_promote173.jpg" alt=""></li>
                </ul>
            </section>
        </article>
        <aside>
            <h3>美食介紹</h3>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </aside>
    </div>

    <footer>
        <p>&copy; 2022 - This is footer of website.</p>
    </footer>

    <!-- 原js引入語法 -->
    <!-- <script src="../static/js/script.js"></script>
    <script src="../static/js/script.js"></script> -->
    <!-- 改用jinja2模板的引入語法 -->
    <script type = "text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>