{% extends "base.html" %}
{% block title %}貓空纜車{% endblock title %}

{% block content %}

<div class="container">
    <article>
        <section>
            <h3>景點介紹</h3>
            <p>貓空其名稱的由來是因為早期在此處是種植茶葉的農作物，其週遭小溪流的石面上有許多壺穴地形，因伴隨著溪水的沖刷使其小石頭卡於凹陷處，在受溪水長期的沖刷之下而造成許多大小不一的壺穴形狀，再加上洞穴看來很像貓住的小洞，因此早期的居民將之稱作「ㄋㄧㄠ　ㄎㄤ」，就是現今的貓空。</p>
            <p>而在貓空地區有著新的空吊式交通運輸纜車，那就是貓空纜車，簡稱貓纜，是台北市第一個觀光休憩纜車，同時也是全台灣首座最長、最具有大眾運輸性質的纜車，其採用單線自動循環式8人座的空中纜車系統，且具有高運輸能量，於2007年7月4日正式通車營運。其路線由台北市文山區的台北市立動物園西側至貓空地區開始，沿途迴轉停靠圓山、涼亭站、茶展中心、天恩宮這4站。撘乘貓空纜車遊賞往下俯瞰，可將貓空茶園的美麗絕佳的景致盡收眼底。隨著貓纜的搭建完成，順勢將台北市區的觀光，也增添了許多的外來人潮。</p>
            <br>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/jqhyOx2D7OI?list=PLZ3I4_cY57zYEn40OS8N97GLHiBgFhUcX" title="抓住屬於自己的光✨我在貓空等你 |台北捷運Metro Taipei" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <section>
            <table class="width-100">
                <thead>
                    <tr>
                        <th colspan="2">貓空纜車票價表</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="width-20">單程票</td>
                        <td class="width-80">
                            <table>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>貓空站</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>指南宮站</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>動物園站</td>
                                    <td>70</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>動物園站</td>
                                    <td>70</td>
                                    <td>100</td>
                                    <td>120</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
    <aside>
        <h2>美食推薦</h2>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/QingQuanVilla/?ref=bookmarks">貓空清泉山莊</a></li>
            <li><a target="_blank" href="http://www.maolan-house.com/">貓懶 MAOLAN</a></li>
        </ul>
    </aside>
</div>

{% endblock content %}